# Core 
python-dotenv 
ipykernel 
pandas 
pyarrow

# LangChain ecosystem 
langchain 
langchain-community 
langchain-huggingface 
langchain-groq 

# Search tools 
duckduckgo_search 
ddgs 

# Data loaders 
wikipedia 
arxiv 

# DB 
duckdb 

# Hugging Face 
huggingface_hub 

# Streamlit 
streamlit

altair==4.2.2
