# Core
python-dotenv
ipykernel
pandas
pyarrow==14.0.2

# LangChain ecosystem
langchain
langchain-community
langchain-huggingface
langchain-groq

# Search tools
duckduckgo_search
ddgs

# Data loaders
wikipedia
arxiv

# DB
duckdb

# Hugging Face
huggingface_hub

# Streamlit
streamlit




